@tailwind preflight;

h1,
h2,
h3,
h4,
h5,
h6 {
	color: config('colors.black');
	line-height: 1.25;
	margin: 0;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.5rem;
}

pre {
	background-color: config('colors.grey-lightest');
	overflow: auto;
	padding: 2rem;
}

.content {
	--flow-space: 2rem;
}

h2,
h3 {
    --flow-space: 3rem;
}

h2 + p,
h3 + p {
    --flow-space: 1.5rem;
}

.content > * + * {
	margin-top: var(--flow-space);
}

a {
	color: config('colors.purple');
}

a:hover,
a:active,
a:focus {
	color: config('colors.dark');
}

:focus {
	outline: 1px dotted;
}

@tailwind utilities;
