<!doctype html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }} &ndash; Uuups documentation</title>

        <link rel="stylesheet" href="/dist/main.css">
    </head>
    <body>
        <header>
            <nav class="menu menu--main">
                <ul class="menu__items">
                    <li class="menu__item"><a class="menu__anchor" href="/">Home</a></li>
                    <li class="menu__item"><a class="menu__anchor" href="/installation">Installation</a></li>
                    <li class="menu__item"><a class="menu__anchor" href="/getting-started">Getting started</a></li>
                    <li class="menu__item"><a class="menu__anchor" href="/build-process">Build process</a></li>
                </ul>
            <nav>
        </header>
        <main>
            {{ content | safe }}
        </main>
    </body>
</html>
